# Node Modules
node_modules/

# Cypress Screenshots
cypress/screenshots/

# Cypress Videos
cypress/videos/

# Cypress Reports
cypress/reports/

# Cypress downloads folder
/cypress/downloads/

# Environment variables file
.env

# IDE specific files
.idx
.vscode/
.idea/

# Output of build process
dist/
build/

# Production
public/

# Package Lock File
package-lock.json

