# Node Modules
node_modules/

# Cypress Screenshots
cypress/screenshots/

# Cypress Videos
cypress/videos/

# Cypress Reports
cypress/reports/

# Environment variables file
.env

# IDE specific files
.idx
.vscode/
.idea/

# Output of build process
dist/
build/

# Production
public/
